# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directories (useful for compiled files)
*/build/
*/bin/
*/obj/
Source Code/.vscode
Source Code/.idea
Source Code/_pycache_


# Ignore IDE configuration files
.vscode/
.idea/
*.suo
*.user
*.userosscache

# Ignore compiled C++ files
*.o
*.out
*.exe

# Ignore temporary files (e.g., logs)
*.log
*.tmp

# Ignore system files (macOS, Windows, etc.)
.DS_Store      # macOS specific
Thumbs.db      # Windows specific
